<%= render "shared/page_title", title: @venue.name, subtitle: "Manage your virtual queue" %>

<% @queue_entries_by_status.each do |status, entries| %>
  <h2 class="h5 mb-2"><%= status.to_s.capitalize %> (<%= entries.size %>)</h2>

  <% if entries.any? %>
    <% entries.each_with_index do |entry, index| %>
      <%= render "queue_entry_card", entry: entry, position: index + 1 %>
    <% end %>
  <% else %>
    <p class="caption mb-4">No group <%= status %>.</p>
  <% end %>
<% end %>
